<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_veg">
	
	<div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
		<% @products.each do |product| %>
		<div class="col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd">
			<div class="hover14 column">
				<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
					<div class="tag"><img src="assets/tag.png" alt=" " class="img-responsive"></div>
					<div class="agile_top_brand_left_grid1">
						<figure>
							<div class="snipcart-item block">
								<div class="snipcart-thumb">
									<a href="/product/<%=product.sku%>">
										<% if product.image.size>0 %>
											<img src="/assets/<%=product.image[0].name%>" alt=" " class="img-responsive" />
										<% else %>
											<img src="/assets/29.png" alt=" " class="img-responsive" />
										<% end %>
									</a>
									<p><%=product.title%></p>
									<h4>$<%=product.price%> <span>$12.00</span></h4>
								</div>
								<div class="snipcart-details">
									<form action="#" method="post">
										<fieldset>
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" />
											<input type="hidden" name="business" value=" " />
											<input type="hidden" name="item_name" value="Fresh Bananas" />
											<input type="hidden" name="amount" value="10.00" />
											<input type="hidden" name="discount_amount" value="1.00" />
											<input type="hidden" name="currency_code" value="USD" />
											<input type="hidden" name="return" value=" " />
											<input type="hidden" name="cancel_return" value=" " />
											<input type="submit" name="submit" value="Add to cart" class="button" />
										</fieldset>
									</form>
								</div>
							</div>
						</figure>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	
</div>